[run]
branch = True
source = .
omit =
    *__init__*
    *wsgi*
    *manage*
    *test*
    *prod_env.py*
    *settings.py*
    *prehab_app/admin*
    *prehab_app/apps*
    *prehab_app/urls*
    *prehab/fixtures*
    *prehab/sql*
    *prehab/urls*